[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
gspread = "*"
openpyxl = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
python-dotenv = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
