[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.0"
uvicorn = {extras = ["standard"], version = "==0.30.6"}
python-multipart = "==0.0.9"
google-api-python-client = "==2.146.0"
google-auth = "==2.35.0"
google-auth-oauthlib = "==1.2.1"
pandas = "==2.2.2"
numpy = "==1.26.4"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.12"
